<body>
<section class="container-fluid" data-ng-controller="DispatcherController" data-ng-init="init()">

<div class="row">
	<div class="col-xs-9">
		<div class="row" style="padding-bottom: 10px">
			<div class="col-xs-3">
				<div class="btn btn-primary btn-block" ng-click="busFull()" ng-hide="bus.full">Bus is full</div>
				<div class="btn btn-primary btn-block" ng-click="busNotFull()" ng-show="bus.full">Bus has room</div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-warning btn-block" ng-click="addTime(5)"> +5 min </div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-warning btn-block" ng-click="addTime(10)"> +10 min </div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-danger btn-block" ng-click="pause()" ng-hide="system.paused">Pause</div>
				<div class="btn btn-success btn-block" ng-click="unpause()" ng-show="system.paused">Unpause</div>
			</div>
		</div>
		<div class="row">
			<map zoom="{{map.zoom}}" 
		  		center="[{{myMap.center.latitude}},{{myMap.center.longitude}}]"
		  		style-"z-index:-1;">
		  		<marker
			      position="{{bus.location.latitude}}, {{bus.location.longitude}}"
			      title="P-Rides Bus"
			      animation="Animation.BOUNCE"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/bus.png">
			  	</marker>
			  	<marker ng-repeat="rider in riders | orderBy:'time'"
			  	  position="{{rider.startLatitude}}, {{rider.startLongitude}}"
			      title="Stop"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/{{$index+1}}_end.png">
		  		</marker>
		  		<marker ng-repeat="rider in riders | orderBy:'time'"
			  	  position="{{rider.endLatitude}}, {{rider.endLongitude}}"
			      title="Stop"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/{{$index+1}}.png">
		  		</marker>
			</map>
		</div>
	</div>

	<div class="col-xs-3">
		<br>
		<br>
		<div class="queue">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="center-text"> Queue </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-hover table-bordered">
				  		<thead>
				            <tr>
				                <th>#</th>
				                <th>Rider</th>
				                <th>Time</th>
				            </tr>
				        </thead>
				        <tbody ui:sortable ng:model="riders">
				            <tr ng:repeat="rider in riders | orderBy:'time'">
				                <td>{{$index + 1}}</td>
				                <td>{{rider.netid}}</td>
				                <td> 
				                	<input type="number" ng-model="rider.time" size="2" style="width:50px;"> 
				                </td>
				            </tr>
				        </tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<a> Download Log </a>
			</div>
		</div>
	</div>		

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.0.2/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
</div>

</section>
</body>