<body>
<section class="container-fluid" data-ng-controller="DispatcherController">

<div class="row">
	<div class="col-xs-9">
		<div class="row" style="padding-bottom: 10px">
			<div class="col-xs-3">
				<div class="btn btn-primary btn-block" ng-click="busFull()" ng-hide="bus.full">Bus is full</div>
				<div class="btn btn-primary btn-block" ng-click="busNotFull()" ng-show="bus.full">Bus has room</div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-warning btn-block" ng-click="addTime(5)"> +5 min </div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-warning btn-block" ng-click="addTime(10)"> +10 min </div>
			</div>
			<div class="col-xs-3">
				<div class="btn btn-danger btn-block" ng-click="pause()" ng-hide="bus.paused">Pause</div>
				<div class="btn btn-success btn-block" ng-click="unpause()" ng-show="bus.paused">Unpause</div>
			</div>
		</div>
		<div class="row">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker ng-repeat="rider in riders | orderBy:'time'"
		 			idKey='index+1'
		 			coords='rider.startCoords'
		 			visible="true"
		 			icon='getImage($index+1)'>
		 		</ui-gmap-marker>
		 		<ui-gmap-marker ng-repeat="rider in riders | orderBy:'time'"
		 			idKey='index+13'
		 			coords='rider.endCoords'
		 			visible="true"
		 			icon='getImageEnd($index+1)'>
		 		</ui-gmap-marker>
		 		<ui-gmap-marker 
		 			idKey='-3'
		 			coords='bus.coords'
		 			visible="true"
		 			icon='busMarker'>
				</ui-gmap-google-map>
			<!-- <map zoom="{{map.zoom}}" 
		  		center="[{{myMap.center.latitude}},{{myMap.center.longitude}}]"
		  		style="height: 100%; width: 66%%; z-index: -1;" 
		  		class="rider-map">
		  		<marker
			      position="{{bus.location.latitude}}, {{bus.location.longitude}}"
			      title="P-Rides Bus"
			      animation="Animation.BOUNCE"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/bus.png">
			  	</marker>
			  	<marker ng-repeat="rider in riders | orderBy:'time'"
			  	  position="{{rider.startLatitude}}, {{rider.startLongitude}}"
			      title="Stop"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/{{$index+1}}_end.png">
		  		</marker>
		  		<marker ng-repeat="rider in riders | orderBy:'time'"
			  	  position="{{rider.endLatitude}}, {{rider.endLongitude}}"
			      title="Stop"
			      draggable="false"
			      visible="true"
			      icon="/modules/rider/img/{{$index+1}}.png">
		  		</marker>
			</map> -->
		</div>
	</div>

	<div class="col-xs-3">
		<br>
		<div class="queue">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="text-center"> Queue </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-hover table-bordered">
				  		<thead>
				            <tr>
				                <th>#</th>
				                <th>Rider</th>
				                <th>Time</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody ui:sortable ng:model="riders">
				            <tr ng:repeat="rider in riders | orderBy:'time'">
				                <td>{{$index + 1}}</td>
				                <td>{{rider.netid}}</td>
				                <td> 
				                	<input type="number" ng-model-options="{ updateOn: 'blur' }" ng-model="rider.time" ng-change="saveRider(rider)" size="2" style="width:50px;"> 
				                </td>
				                <td>
				                	<div class="btn btn-danger btn-block cancelrider" ng-click="dequeueRider(rider)">x</div>
				                </td>
				            </tr>
				        </tbody>
					</table>
					<tr> <div class="btn btn-success btn-block" ng-click="openRider()">+</div> </tr>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<a> Download Log </a>
			</div>
		</div>
	</div>		

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.0.2/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

	<script type="text/ng-template" id="newRiderForm">
		<div class="ngdialog-message">
			<h3>Add Rider to Queue</h3>
		</div>
		<form novalidate class="simple-form">
		    netid: <input type="text" ng-model="rider.netid" required /><br />
		    Pick up: <input type="number" ng-model="rider.startLatitude" required /> , <input type="number" ng-model="rider.startLongitude" required /> <br />
		    Drop off: <input type="number" ng-model="rider.endLatitude" required /> , <input type="number" ng-model="rider.endLongitude" required /> <br />
		    Phone number: <input type="tel" ng-model="rider.phoneNumber" /><br />
		    Time: <input type="number" ng-model="rider.time" required /> <br />
		    <div class="ngdialog-buttons">
				<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="createNewRider(rider)">Add</button>
				<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeAll()">Cancel</button>
			</div>
		</form>
		
	</script>

</div>

</section>
</body>