<body>

<section class="container-fluid" data-ng-controller="RiderController">

<div class="container-full">

 	<ui-gmap-google-map center='map.center' zoom='map.zoom'>

 		<ui-gmap-marker ng-repeat="rider in riders | orderBy:'time'"
 			idKey='index+1'
 			coords='rider.startCoords'
 			visible='true'
 			icon='getImage($index+1)'>
 		</ui-gmap-marker>
 		<ui-gmap-marker ng-repeat="rider in riders | orderBy:'time'"
 			idKey='index+13'
 			coords='rider.endCoords'
 			visible='true'
 			icon='getImageEnd($index+1)'>
 		</ui-gmap-marker>
 		<ui-gmap-marker 
 			idKey='0'
 			coords='user.loc'
 			visible='true'
 			icon='currentMarker'>
 		</ui-gmap-marker>
 		<ui-gmap-marker 
 			idKey='-3'
 			coords='bus.coords'
 			visible="true"
 			icon='busMarker'>
 		</ui-gmap-marker>
 		<ui-gmap-marker 
 			idKey='-1'
 			coords='user1.startCoords'
 			visible='true'
 			events="startMarker.events"
 			options="startMarker.options"
 			icon='startMarker.icon'>
 		</ui-gmap-marker>
 		<ui-gmap-marker 
 			idKey='-2'
 			coords='user1.endCoords'
 			visible='true'
 			events="endMarker.events"
 			options="endMarker.options"
 			icon='endMarker.icon'>
 		</ui-gmap-marker>

 	</ui-gmap-google-map>

	<div class="request opaque" ng-hide="user1.inQueue" style="display:block;">
		<div class="btn btn-primary btn-block" ng-click="request()">Request</div>
	</div>
	<div class="cancel opaque" ng-show="user1.inQueue" style="display:block;">
		<div class="btn btn-danger btn-block" ng-click="cancel()">~ {{user1.time}} min - Cancel</div>
	</div>

</div>

</section>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>